XML_JSON_bestanden/Top50CountrySongs_xsd.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="countries">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" maxOccurs="unbounded" minOccurs="0" type="countryType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="countryType">
        <xs:sequence>
            <xs:element name="name" type="nameType"/>
            <xs:element name="data" type="dataType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dataType">
        <xs:sequence>
            <xs:element name="title" type="titleType"/>
            <xs:element name="artist" type="artistType"/>
            <xs:element name="genre" type="genreType"/>
        </xs:sequence>
        <xs:attribute name="rank" use="required" type="numberType"/>
    </xs:complexType>

    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="titleType">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="artistType">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="genreType">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>
        
    <xs:simpleType name="numberType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="50"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>